
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-align: center;
  font-family:sans-serif;
}

  header {
    padding: 10px;
    text-align: center;
    background-color: darkcyan;
    border: 5px dotted darkgray;
  }
  
  main{
    min-height: 70vh;
    background-color: rgba(134, 131, 131, 0.4)
  }

  footer{
    padding: 10px;
    background-color:darkcyan;
    border: 5px dotted darkgray;
  }

  nav{
    display: inline-block;
    padding: 15x;
  }

  h1, h2 {
    padding: 5px;
    color:beige ;
    font-size: 24px
  }
  
  input {
    background-color: darkcyan;
  }
  
  textarea {
    background-color: darkcyan;
  }

  .info {
    font-size: 20px;
     }

  [href]{
    font-style: oblique;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  label.kon {
    color:azure;
  }

  .dropbtn {
    background-color:darkcyan; color: whitesmoke; padding: 16px; font-size: 20px; border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color:darkcyan;
    min-width: 160px;
  }
  
  .dropdown-content a {
    color:white;
    padding: 12px 16px;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: aquamarine;}
  
  .dropdown:hover .dropdown-content {display:block;}