*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family:sans-serif;
}

  header {
    padding: 10px;
    text-align: right;
    background-color: darkcyan;
  }

  main {
    box-sizing: content-box;
    min-height: 70vh;
    background-color: rgba(134, 131, 131, 0.4);
  }

  footer{
    padding: 10px;
    background-color:darkcyan;
    border: 5px dotted darkgray;
  }

  h2 {
    padding: 5px;
    color:beige ;
    font-size: 24px;
   
  }

  h1 {
    padding: 25px;
    color: antiquewhite;
    text-align: center;
    font-size: 60px;
  }

  #kontakt {
    text-align: center;
  }
 
  input {
    background-color: darkcyan;
  }
 
  textarea {
    background-color: darkcyan;
  }

  .info {
    font-size: 20px;
     }

  [href]{
    color: wheat;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  label.kon {
    color:azure;
  }
 
.topnav {
  overflow: hidden;
  background-color: rgb(232, 235, 235);
}

.topnav a {
  float: left;
  color: darkcyan;
  text-align: center;
  padding: 25px 16px;
  text-decoration: none;
  font-size: 25px;
}

.topnav img {
  padding: 5px;
  float: left;
 width: 5%;
}

.topnav a:hover {
  background-color: darkgray;
}

.dropbtn {
  padding: 5px;
  background-color: darkcyan; color: whitesmoke; padding: 16px; font-size: 20px; border: none;
}

.dropdown {
  position: relative;
  display: inline;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color:darkcyan;
  min-width: 160px;
}

.dropdown-content a {
  color:white;
  padding: 12px 16px;
  display: block;
}

.dropdown-content a:hover {
  background-color: aquamarine;}

.dropdown:hover .dropdown-content {
  display:block;}

  .row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  q { font-style: italic;}

  .side {
    display: 20%;
    flex: 20%;
    background-color: darkcyan;
    padding: 20px
  }

  .main {
    -ms-flex: 70%;
    flex: 70%;
    padding: 20px;
  }